.left-bar
  .left-header
    .left-header__box
      %p.left-header__box__name
        元村
      %ul.left-header__box__menu
        %li.left-header__box__menu__edit
          = icon('fas', 'edit')

  .groups
    .group
      .group__name
        学習
      .group__message
        投稿
            