.right-bar
  .logout
    .logout-btn
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'

  .others
    .other
      %ul.other__list
        %li.other__list__name
          = current_user.name

  .posts
    .post
      = link_to "アップロード", new_group_message_path, class: "btn-primary"