.right-bar
  .logout
    .logout-btn
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'

  .others
    .other
      %ul.other__list
        %li.other__list__department
          総務部
        %li.other__list__name
          清水
        %li.other__list__status
          勤務中
      %ul.other__list
        %li.other__list__department
          総務部
        %li.other__list__name
          松井
        %li.other__list__status
          休暇中

  .posts
    .post
      = link_to "アップデート", new_message_path, class: "btn-primary"